apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: k8s-multi-service-app-pv-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
