apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ${DOCKERHUB_USERNAME}/k8s-multi-service-app:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
