apiVersion: v1
kind: Service
metadata:
  name: k8s-multi-service-app-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8000
  type: LoadBalancer
